:root {
  --white-color: #e2dada;
  --red-color: #9d0208;
  --black-color: #3b3131;
}

.form {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* margin-right: 50px; */
  /* border: 2px solid pink; */
  /* position: relative;
  right: 13%; */
}

/* .form-username {
  border: 2px solid green;
  width: 50%;
  justify-content: center;
  align-items: center;
} */

label {
  color: var(--white-color);
  font-size: 1.2rem;
  width: 130%;
  display: block;
  text-align: center;
  /* border: 2px solid yellow; */
}

input {
  height: 5vh;
  width: 130%;
  /* width: 150%; */
  display: flex;
  margin-top: 1vh;
  background-color: var(--black-color);
  color: #fff;
  font-size: 1.4rem;
  box-sizing: border-box;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 5px;
  margin-right: 10px;
}


.submit {
  box-sizing: border-box;
  height: auto;
  margin-top: 15px;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: var(--black-color);
  color: var(--white-color);
  width: 150px;
  justify-content: center;
  position: relative;
  left: 45px;
}

.signUpLoginBoxQuiz {
  background-color: var(--red-color);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid yellow; */
}

@media screen and (max-width: 767px) {
    .form {
      margin-right: 40px;
    }
}

