.containerChart {
    display: flex;
    flex-wrap: wrap;
}
 
.card {
    width: 70%;
    margin-top: 5vh;
    margin-left: 20vw;
    padding-bottom: 3vh;
    padding-left: 1vh;
    padding-right: 1vh;
}

.titleChartLight{
    font-style: italic;
    display: flex;
    text-align:center;
    text-transform: uppercase;
    font-size: 1.9em;
    padding-left: 435px;
    margin-top: 45px;
}

.titleCard {
    text-align: center;
    padding-bottom: 2.5vh;
    padding-top: 1vh;
    padding-bottom: 25px;
    margin-top: 45px;
}


@media screen and (max-width: 767px) {
  .card {
    height: auto;
}
canvas{
    background-color: white;
}
  
}