.background-chart{
    background-color: #e2dada;
}
.containerChart {
    display: flex;
    flex-wrap: wrap;
}
 
.card {
    width: 70%;
    margin-top: 5vh;
    margin-left: 20vw;
    padding-bottom: 3vh;
    border: 2px solid black;
    padding-left: 1vh;
    padding-right: 1vh;
    background-color: white;
    ;
}

.title-chart-light {
    text-align: center;
    color: #3b3131;
}
.title-chart-dark {
    text-align: center;
    color: #e2dada;
}

.title-card {
    text-align: center;
    padding-bottom: 1vh;
}