#text{
    font-style: italic;
    line-height: 45px;
    display: flex;
    text-align:center;
    text-transform: uppercase;
    flex-direction: row;
    font-size: 1.9em;
    padding-left: 45px;
}

.title-container{
    padding-top: 45px;
    margin-left: 200px;
    align-items:center;
    display: flex;
    flex-direction: column;
}

.container-2{
    margin-left: 250px;
    align-items:center;
    display: flex;
    flex-direction: column;
}
.article{
    font-family: var(--second-font);
    line-height: 45px;
    font-size: 1.3em;
}

.picture{
    margin-left: 380px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    height: 50vh;
    width: 60vh;
}
.covid{
    height: auto;
    width: auto;
}
.covid2{
    height: auto;
    width: auto;
}