.navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-family: var(--second-font);
    align-items: center;
    padding-left: 1vw;
    
}

.link {
    color: var(--main-color);
    background-color: var(--second-color);
    padding: 2vh;
    border: var(--main-color) 2px solid;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: 400ms;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.link:hover {
    color: var(--second-color);
    background-color: var(--main-color);
    border: var(--second-color) 2px solid;
}

.darkmodbutton {
    color: var(--main-color);
    background-color: var(--second-color);
    padding: 2vh;
    border: var(--main-color) 2px solid;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}